table
{
    border-collapse: collapse;
}

td
{
    border: 1px solid black;
}

.borde_null
{
    border: 0px;
}

*
{
    font-family:'Arial Narrow Bold', sans-serif;
    font-size: 12px;
}